 <!DOCTYPE html>
<html>
	<head>
		<title>Pedidos</title>
		 <link rel="stylesheet" th:href="@{css/tablita.css}">
	</head>
	<script th:src="@{js/jquery-3.7.1.min.js}"></script>
      <script th:src="@{js/pedidos.js}"></script>
	<body>
		<table>
			<thead>
				<tr >
					<th>id </th>
					<th> nombre </th>
					<th> dia del pedido</th>
					<th> dia de entrega</th>
					<th>cantidad</th>
					<th> tipo de pan </th>
					<th>costo </th>
					<th> anticipo</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedidos : ${listaPedidos}">
					<td th:text="${pedidos.id}"></td>
					<td th:text="${pedidos.nombre}" ></td>
					<td th:text="${pedidos.dia_pedido}"></td>
					<td th:text="${pedidos.dia_entrega}"> </td>
					<td th:text="${pedidos.cantidad}"></td>
					<td th:text="${pedidos.tipo_pan}">  </td>
					<td th:text="${pedidos.costo}"> </td>
					<td th:text="${pedidos.anticipo}">     </td>
					<td>
						<a class="tton" th:href ="@{/actualizarPedidos(id=${pedidos.id})}" > Editar</a>
					<button class="tton" th:onclick="eliminarPedidos([[${pedidos.id}]]);">Eliminar</button> </td> 
				</tr>
				
			</tbody>
			<form th:action="formi" method="get">
		<div >
			<button type="submit" id="ingreso"> Agregar</button>
		</div>
		</form>
		</table>
		
	</body>
</html>