body{
	background-color: #f3e3d3;
}
.container{
	background-color: #c98860;
	border: 3px solid #9b6b43;
	width: 500px;
	height: 400px;
	letter-spacing: 1.5px;
	border-radius: .7rem;
}

.form-control{
	width: 200px;
	height: 30px;
	
}