body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)), url("https://crehana-blog.imgix.net/media/filer_public/27/60/276084aa-2dfd-4113-bfae-5f2eb0b966c8/panaderia-artesanal.jpg?auto=format&q=50"); 
	 background-repeat: no-repeat;
	 
	 background-size: cover;
	 background-position: center;
	 background-attachment: fixed;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 30px;
}

.option {
    width: 250px; /* Ancho del cuadro */
    height: 250px; /* Altura del cuadro */
    background-color: #927756; /* Color naranja */
    margin: 20px;
    border-radius: 20px;
    overflow: hidden; /* Para esconder el desbordamiento de la imagen */
    position: relative; /* Para posicionar la imagen */
}

.option a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

.option img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    opacity: 0.06; /* Opacidad de la imagen */
}





